<!-- Keep this file NOT PRETTIFIED, or a bug will turn it into pre and code tags -->
<section class="grid gap-4 sm:grid-cols-2 md:grid-cols-3">
{{ range $index, $certificates := .Site.Data.certificates }}
<a href="{{ .link }}" target="_blank" rel="nofollow noopener noreferrer external" class="min-w-full">
<div class="min-h-full border border-neutral-200 dark:border-neutral-700 border-2 rounded overflow-hidden shadow-2xl relative backdrop-blur">
{{ if .icon }}
<div class="w-full thumbnail_card nozoom" style="background-image:url({{ .icon }});background-size:contain;"></div>
{{ else }}
{{ end }}
<div class="px-6 py-4">
<div class="font-bold text-xl text-neutral-800 decoration-primary-500 hover:underline hover:underline-offset-2 dark:text-neutral" href="{{ .link }}">{{ .name }}</div>
<div class="text-sm text-neutral-500 dark:text-neutral-400">
{{ if .date }}
<div style="cursor: default;" class="flex flex-row flex-wrap items-center">
<time datetime="{{ .date }}">{{ .date }}</time>
</div>
{{ end }}
<div style="cursor: pointer;" class="flex flex-row flex-wrap items-center">
{{ range .tags }}
<span style="margin-top:0.5rem" class="mr-2" onclick="window.open('{{ .url }}','_self');">
<span class="flex">
<span class="rounded-md border border-primary-400 px-1 py-[1px] text-xs font-normal text-primary-700 dark:border-primary-600 dark:text-primary-400">
{{ .name }}
</span>
</span>
</span>
{{ end }}
</div>
</div>
</div>
<div class="px-6 pt-4 pb-2"></div>
</div>
</a>
{{ end }}
</section>
