<!-- W3Techs Verification -->
<meta name="W3Techs-verification" content="E4KkwY96VJs32IIu" />

<!-- Schema -->
<script type="application/ld+json">
    {
      "@context": "https://schema.org/",
      "@type": "Person",
      "name": "David Tofan",
      "url": "https://davidtofan.com/",
      "image": "https://davidtofan.com/author/david-j.-k.-tofan/david_myavatar.png",
      "sameAs": [
        "https://www.facebook.com/DavidJKTofan",
        "https://twitter.com/davidjktofan",
        "https://www.instagram.com/davidjktofan/",
        "https://www.youtube.com/c/DavidTofan/",
        "https://www.linkedin.com/in/davidtofan/",
        "https://github.com/DavidJKTofan/",
        "https://davidjktofan.com/"
      ],
      "jobTitle": "Solutions Engineer",
      "worksFor": {
        "@type": "Organization",
        "name": "Cloudflare"
      }  
    }
</script>

<!-- FontAwesome -->
<script src="https://kit.fontawesome.com/783fde7b1e.js" crossorigin="anonymous"></script>

<!-- Google Tag Manager -->
{{ partial "googleTagManagerHead.html" . }}